
table {
    border-collapse: collapse;  
}

td {
  width: 60px;
  height: 60px;
}

.black {
  background-color: rgb(4, 111, 18);
  font-size: 40px;
}

.white {
  background-color: rgb(231, 190, 126);
  font-size: 40px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
